
  <footer class="py-3 mt-4 fixed-bottom my-background">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 my-text">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 my-text">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 my-text">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 my-text">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 my-text">About</a></li>
    </ul>
    <p class="text-center my-text" th:text="'&copy; ' + ${restaurantName}"></p>
  </footer>
